@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&display=swap");
$size: calc(1vh + 1vw);
:root {
  font-family: "Oswald", sans-serif;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #141414;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #fff;
}
body {
  min-height: 100vh;
}

li {
  list-style: none;
}
svg {
  height: calc($size * 1);
}
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

// <header> --------------------------------------------------
.header.active {
  min-height: 100vh;
  background: #db3138;
}
.header--burger.active span {
  margin-left: 0;
}
.header--burger.active {
  & span {
    background: #ffffff;
  }
  & span:nth-last-child(2) {
    margin-left: 0;
  }
}
.header--ul.active {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 20%;
  left: 25%;
}
.header--main.active {
  display: none;
}
//---------------------------
.header {
  background-image: url("../src/photos/background/Rectangle 64.png");
  background-size: cover;
  background-position: center;
}
.container {
  padding: 10px;
}
.header--block {
  display: flex;
  flex-direction: column;
}
.header--burger {
  display: block;
  float: right;
}
.header--burger span {
  display: block;
  width: calc($size * 4);
  height: calc($size * 0.22);
  margin-bottom: calc($size * 0.6);
  position: relative;
  background: #db3138;
  transition: ease 0.3s;
}
.header--burger span:nth-last-child(2) {
  margin-left: calc($size * -1.3);
}
.header--ul {
  font-size: calc($size * 3);
  text-align: center;
  display: none;
  column-gap: calc($size);
  & .header--item {
    padding-top: calc($size * 2);
  }
}
.header--title {
  font-size: calc($size * 4);
  margin-bottom: calc($size);
}
.header--text {
  font-size: calc($size * 1.4);
  text-align: center;
  margin-bottom: calc($size * 2);
}
.squares {
  margin-bottom: calc($size);
}
.header--main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.button-fill--text {
  font-size: calc($size * 2.4);
  padding: 0 calc($size);
  text-transform: uppercase;
}
.button-fill--text {
  box-shadow: inset calc($size * 7) 0 0 0 #db3138;
  transition: ease-in-out 0.5s;
}
.button-fill--text:hover {
  box-shadow: inset calc($size * 16) 0 0 0 #db3138;
}
